#contact {
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}

#contact h2 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#contact .social {
    text-align: center;
}

#contact .social ul li {
    display: inline-block;
    margin: 0 20px;
}

#contact .social i.fa {
    font-size: 22px;
    width: 48px;
    height: 48px;
    padding: 12px 0;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

#contact .social i.fa:hover {
    color: #608dfd;
    background: #fff;
}

.social p {
    color: #000000;
    font-size: 14px;
}

.social a {
    color: #000000;
    font-weight: 900;
}

#footer a:hover {
    border-bottom: 2px solid #608dfd;
}